<h3>購物車內容</h3>
<p>總共: <%= number_to_currency(@cart.total_price, precision: 0) %>元</p>
<ul>
<% @cart.items.each do |item| %>
  <li><%= item.product.name %> <%= number_to_currency(item.pricing, precision: 0) %>/件 x <%= item.amount %></li>
<% end %>
</ul>

<% if 0 != @cart.items.length %>
  <%= link_to '清空', cart_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>

  <% if current_user  %>
    <%= link_to '結帳', new_order_path, class: 'btn btn-success btn-xs' %>
  <% end %>
<% end %>
