<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<div>
<%= link_to '全部訂單', orders_path %> |
<%= link_to '已付款訂單', orders_path(status: 2) %> |
<%= link_to '已出貨訂單', orders_path(status: 3) %> |
<%= link_to '已取消訂單', orders_path(status: 0) %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>編號</th>
      <th>內容</th>
      <th>狀態</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td>
        <% order.order_products.each do |item| %>
          <%= item.product.name %> <%= number_to_currency(item.pricing, precision: 0) %>元 X <%= item.amount %>件<br/>
        <% end %>
        </td>
        <td><%= order.status_name %></td>

      <% if order.can_delivery? %>
        <td><%= link_to '出貨', delivery_order_path(order.id), method: "patch", class: "btn btn-xs btn-success" %></td>
      <% else %>
        <td></td>
      <% end %>

      <% if order.can_cancel? %>
        <td><%= link_to '取消', cancel_order_path(order.id), method: "delete", class: "btn btn-xs btn-danger" %></td>
      <% else %>
        <td></td>
      <% end%>
      </tr>
    <% end %>
  </tbody>
</table>

