<p id="notice"><%= notice %></p>

<h1>商品列表</h1>

<div class="row">
<% @products.each do |product| %>
  <div class="col-xs-6">
    <div class="row">
      <a href="<%= product_path(product) %>">
        <h3><%= product.name %></h3>
        <h5><%= number_to_currency(product.pricing, precision: 0) %></h5>
        <p><%= product.descriptions %></p>
      </a>
      <%= link_to '加到購物車', add_cart_path(product), method: "post", class: "btn btn-xs btn-danger" %>
    </div>
  </div>
<% end %>
</div>

